#container {
    display: flex;
    font-family: sans-serif;
}

#header {
    display: flex;
}

#reset {
    background-color: #333333;
    color: #ffffff;
    padding: 1em;
    border: none;
    margin: 0.5em;
    cursor: pointer;
}

#reset:hover {
    background-color: #666666;
}

#reset:active {
    background-color: #333333;
}

#info {
    display: flex;
    flex-direction: column;
}

#info > div {
    display: flex;
    flex-direction: column;
}

#info > div > div {
    display: flex;
    margin: 0.5em;
}


canvas {
    display: block;
}

hr {
    width: 100%;
}
